@font-face {
  font-family: 'Exo 2', sans-serif;
  src: local('Exo 2');
  src: url('../assets/fonts/Exo2.0-Thin.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Trebuchet MS', sans-serif;
  src: local('Trebuchet MS');
  src: url('../assets/fonts/trebuc.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}