$mainFont: 'Exo 2', sans-serif;
$secondaryFont: 'Trebuchet MS', sans-serif;
$mainColor: #FFFFFF;
$secondaryColor: #666666;
$cardTitleColor: #000000;
$colorDisabled: #B3B3B3;
$backgroundColor: #F2F2F2;
$borderColor: #1698D9;
$borderColorHover: #2EA8E6;
$borderColorSelected: #D91667;
$borderColorSelectedHover: #E52E7A;